[build-system]
requires = ["setuptools>=61"]
build-backend = "setuptools.build_meta"

[project]
name = "{repo_name}"
version = "0.1.0"

[tool.setuptools.packages.find]
where = ["."]
include = ["src*"]

[project.scripts]
{repo_name}-cli = "src.{repo_name}.cli:main"
